<html>
<head>
    <title>sensei mho </title>
    <link rel="stylesheet" type="text/css" href="static\styles.css">
</head>
<body>
    <div id="main-wrapper">
        <div id="nav-bar">
                <div id="nav-tags"><a href = "https://github.com/HarowitzBlack/sensai-mho-chatbot">fork on Github</a></div>
        </div>

        <div id="container-1">
            <h2 id="text-align-middle">Welcome, talk to sensei mho on messenger!</h2>
            <div id="aboutbox">
                <p id="aboutbot">
                    <h5>What's sensei mho?</h5>
                    Sensei mho is a bot that gives you tips on exerise, healthy diet
                    and some good old advice. Whether you're energized or demotivated
                    Sensei mho is always there for you!
                </p>
            </div>
        </div>
        <div id="container-2">

        </div>
    </div>
</body>
</html>
